* {
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(#FBD87F, #FCE4D8) fixed;
}

header {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 58px;
    color: #f75590;
    text-shadow: 2px 2px 4px #FCE4D8;
}

div.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    gap: 30px;
    font-family: 'Open Sans', sans-serif;
}

div.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Resets track */
input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 120px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

 /* Track Chrome Safari Opera Edge */ 
 input[type="range"]::-webkit-slider-runnable-track {
    background: #10FFCB;
    height: 0.5rem;
    box-shadow: 1px 1px 3px 2px #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
 }

 input[type="range"]::-webkit-slider-thumb {
    margin-top: -2px;
    background-color: #1E2F97;
    height: 13px;
    width: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
 }

 /* Track Firefox */
 input[type="range"]::-moz-range-track {
    background: #10FFCB;
    height: 0.5rem;
    box-shadow: 1px 1px 3px 2px #ccc;
    border-radius: 4px;
 }

 input[type="range"]::-moz-range-thumb {
    background: #10FFCB;
    height: 0.5rem;
    box-shadow: 1px 1px 3px 2px #ccc;
    border-radius: 4px;
 }




/* CSS GRID */
#container {

}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    margin-bottom: 50px;
}


div.cell {
    gap: 0px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid black;
}

